body {
    margin: 0;
}
header {
    height: 20px;
    background: rgb(85, 82, 82);
    color: #fff;
   padding: 15px 80px;
   /*border-bottom: 3px solid rgb(46, 44, 44);*/
}

.div1 {
    float: left;
}

.div2 {
    float: right;
    margin-right: 15px;
}
img {
    width: 100%;
}
p {
    margin: 0;
}
.par{
   margin: 10px 0;
    text-align: center;
}
.about {
 padding: 100px;
    background: rgb(116, 114, 114);
}

.item {
    width: 41%;
    margin: 0 1%;
    background: #333;
    color: #fff;
    float: left;
}
.clear fix{
    clear: both;
}
.im{
    width: 30%;
    margin: 0 1%;
    float: right;
}
.row1{
    width: 100px;
    height: 50px;
    margin-bottom: 20px;
    float: left;
    margin-right: 20%;
    margin-left: 5%;
    margin-top: 20px;
}
.row2{
    
    width: 100px;
    height: 50px;
    margin-bottom: 130px;
    float: left;
    margin-right: 20%;
    margin-left: 5%;
    margin-top: 100px; 
}

.row2 img{
    border-radius: 100%;
}
.final{
   padding-left: 5px;
    margin-top: 20%;
}
